<!doctype html>
<html>
<head>
    <title>测试页面</title>
    <link href="#springUrl('/resources/css/reset.css')" rel="stylesheet" type="text/css" />
    <link href="#springUrl('/resources/css/portlet.css')" rel="stylesheet" type="text/css" />
    <link href="#springUrl('/resources/css/design.css')" rel="stylesheet" type="text/css" />
    <script src="#springUrl('/resources/js/jquery.1.7.min.js')"></script>
    <script src="#springUrl('/resources/js/jquery.dragsort-0.5.1.js')"></script>
    <script src="#springUrl('/resources/js/design.js')"></script>
</head>
<body>
    #parse('/layout/header.vm')
        $screen_content
        #parse('/layout/footer.vm')
</body>
</html>
