#set($layout = "layout_empty.vm")
<div class="modal_list_wrap">
    <ul class="modal_list">
        #foreach($module in $cmsModuleList)
        <li class="modal_list_item">
            <img src="$link.relative($stringUtils.defaultIfEmpty($module.iconLink, "static/images/64x64.png"))">
            <div class="item_desc_wrap">
                <span class="item_name">$!module.name</span>
                <span class="item_desc">$!module.description</span>
            </div>
            <div class="item_opt_wrap">
                <a href="$link.relative('cms/design/render-comp.html').param('instanceTypeTag', 'module').param('prototypeId', $module.dbId)" class="j-add-module-btn btn btn-green">添加</a>
            </div>
        </li>
        #end
    </ul>
</div>