#* @implicitly included *#
#* @vtlvariable name="math" type="java.lang.Math" *#
#* @vtlvariable name="link" type="org.apache.velocity.tools.generic.LinkTool" *#
#* @vtlvariable name="stringUtils" type="org.apache.commons.lang.StringUtils" *#