<div class="form_box page_form">
    #compFormTag($pageInstance)
    <ul>
        <li class="portal-form-row">
            <label>标题</label>
            <input class="width320" type="text" name="title" value="$!{pageParams.title}">
        </li>
    </ul>
    </form>
</div>