.module_edit_mask {
    border: 1px dashed #A57DB5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

.module_edit_mask .module_mask_bd {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #CCCCCC;
}

.module_edit_mask .module_edit_remove {
    background: none repeat scroll 0 0 #000000;
    border: 4px solid #FFFFFF;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: none;
    top: 0;
    width: 20px;
    text-decoration: none;
    cursor: pointer;
    height: 20px;
}

.module_edit_mask .module_edit_remove:hover {
    color: #f34844;
}

.module_placeholder {
    background-color: white !important;
    border: dashed 1px gray !important;
}

.item_settings_wrap {
    border: 1px dashed #DADADA;
    padding: 5px;
    clear: both;
    margin: 10px 0;
    text-align: center;
}

.item_settings_wrap .item_add_content {
    height: 32px;
    margin: 0 auto;
    width: 100px;
    text-align: center;
    color: #666666;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
}
.j-add-column .item_add_content {
    height: 100px;
    width: 24px;
    margin: 0 auto;
    text-align: center;
}
.column_add_wrap {
    width: 24px;
    position: fixed;
    right: 50px;
}
.save_tip_wrap {
    background-color: #A57DB5;
    color: #FFF;
    border-bottom: 1px solid #000000;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 501;
}

.save_tip_wrap .save_tip_content {
    height: 24px;
    line-height: 24px;
    margin: 0 auto;
    width: 1225px;
    font-size: 14px;
}

.save_tip_wrap .save_tip_btn, .save_tip_wrap .cancel_tip_btn {
    background-color: #F25881;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: inline-block;
    font-family: "微软雅黑";
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    width: 107px;
}

.save_tip_wrap .cancel_tip_btn {
    background-color: #DADADA;
    color: #666666;
}

.modal_list_item {
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #DADADA;
    height: 70px;
    overflow: hidden;
    position: relative;
}

.modal_list_item .item_img_wrap {
    width: 64px;
    height: 64px;
    float: left;
}

.modal_list_item .item_img_wrap img {
    margin: 0 auto;
}

.modal_list_item .item_desc_wrap {
    float: left;
    margin-left: 20px;
    width: 350px;
}

.modal_list_item .item_desc_wrap .module_name {
    color: #393939;
    display: block;
    font-size: 14px;
}

.modal_list_item .item_desc_wrap .module_desc {
    color: #999999;
    display: inline-block;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    width: 295px;
}

.modal_list_item .item_desc_wrap .module_add_wrap {
    float: right;
    margin-top: -10px;
    border: none;
    width: 100px;
}

.modal .modal_list_item img {
    float: left;
}

.modal .modal_list_item .item_desc_wrap .item_name {
    font-weight: bold;
    display: block;
}

.modal .modal_list_item .item_opt_wrap {
    position: absolute;
    right: 0;
    top: 20px;
}