.width10p {
    width: 10%;
}
.width20p {
    width: 20%;
}
.width33p {
    width: 33%;
}
.width25p {
    width: 25%;
}
.width50p {
    width: 50%;
}
.width75p {
    width: 75%;
}
.width100p {
    width: 100%;
}
.layout_box {
    float: left;
    width: 100%;
}
.layout_box, .module_box {
    min-width: 50px;
    min-height: 50px;
    margin-bottom: 10px;
    clear: both;
    position: relative;
}

.column_box {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.portlet-header, .portlet-footer {
    width: 100%;
    text-align: center;
    background: #dddddd;
    line-height: 50px;
    padding: 10px;
    margin: 0 !important;
}
.portlet-header {
    border-bottom: 1px solid #666;
    clear: both;
    position: relative;
}
.portlet-header span.title {
    width: 200px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}
.portlet-header .page-list, .portlet-header .page-opt {
    position: absolute;
    top: 12px;
}
.portlet-header .page-list {
    right: 20px;
}
.portlet-header .page-opt {
    left: 20px;
}
.portlet-footer {
    position: fixed;
    bottom: 0;
    border-top: 1px solid #666;
    margin-top: 10px;
    clear: both;
}
.module_box .module_box_hd {
    background-color: #E7DFDF;
    height: 30px;
    line-height: 30px;
    border: 1px solid #DADADA;
    border-bottom: none;
    padding: 5px;
}
.module_box .module_box_bd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border: 1px solid #DADADA;
    border-top-style: none;
    border-image: none;
    height: auto;
    overflow: hidden;
    position: relative;
    padding: 10px;
}
.page_box {
    padding: 10px;
    margin-bottom: 50px;
    float: left;
    width: 100%;
}
.edit_mod .page_box,.edit_mod .layout_box,.edit_mod .column_box {
    border: 1px dashed #CCCCCC;
    padding: 10px;
}
.edit_mod .page_box {
    border-color: #004444;
}
.edit_mod .page_layout {
    border-color: #a0c552;
}
.edit_mod .column_box {
    border-color: #e36c1c;
}

.naked, .naked .module_box_hd , .naked .module_box_bd {
    border: none !important;
}
.naked .module_box_hd {
    display: none !important;
}