<div id="_column_${columnInstance.dbId}" class="column_box width50p#{if}($columnParams.layout == 'tab') j-switchable-wrap#{end}" #dimension($columnParams) #designId($env $columnPrototype $columnInstance)>
    #if($columnParams.layout == 'tab')
        <ul class="ui-switchable-nav">
            #foreach($mod in $columnInstance.modules)
                <li data-role="trigger">$stringUtils.defaultIfEmpty($!{mod.paramsMap.title}, '模块标题')</li>
            #end
        </ul>
    #end
    #if($columnParams.layout == 'tab')
    <div class="ui-switchable-content util-clearfix">
    #end
    #foreach($cmsModule in $_cms_modules)
    $cmsModule
    #end
    #if($columnParams.layout == 'tab')
    </div>
    #end
</div>