<div class="column_box width50p#{if}($columnParams.layout == 'tab') j-col-tab#{end}" #dimension($columnParams) #designId($env $columnPrototype $columnInstance)>
    #foreach($cmsModule in $_cms_modules)
    $cmsModule
    #end
</div>