<div class="column_box width50p#{if}($columnParams.layout == 'tab') j-col-tab#{end}" #dimension($columnParams) #designId($env $columnPrototype $columnInstance)>
    #if($columnParams.layout == 'tab')
        <ul class="etabs">
            #foreach($mod in $columnInstance.modules)
                <li class="tab"><a href="#col_${columnInstance.dbId}_mod_${mod.dbId}">$stringUtils.defaultIfEmpty($!{mod.paramsMap.title}, '模块标题')</a></li>
            #end
        </ul>
    #end
    #foreach($cmsModule in $_cms_modules)
    $cmsModule
    #end
</div>