<!doctype html>
<html>
<head>
    <title>$stringUtils.defaultIfEmpty($!{curPage.paramsMap.title}, "测试页面") - $env.renderMode</title>
    <link href="$link.relative('/static/css/reset.css')" rel="stylesheet" type="text/css" />
    <link href="$link.relative('/static/css/modal.css')" rel="stylesheet" type="text/css" />
    <link href="$link.relative('/static/css/ui.css')" rel="stylesheet" type="text/css" />
    <link href="$link.relative('/static/css/portlet.css')" rel="stylesheet" type="text/css" />

    <script src="$link.relative('/static/js/jquery.1.7.min.js')"></script>

    #if($env.renderMode == "design")
        <link href="$link.relative('/static/css/design.css')" rel="stylesheet" type="text/css" />
        <script src="$link.relative('/static/js/jquery.dragsort-0.5.1.js')"></script>
        <script src="$link.relative('/static/js/jqModal.js')"></script>
        <script src="$link.relative('/static/js/design.js')"></script>
    #end

    <script src="$link.relative('/static/js/jquery.hashchange.min.js')"></script>
    <script src="$link.relative('/static/js/jquery.easytabs.min.js')"></script>
    <script src="$link.relative('/static/js/base.js')"></script>
    <script src="$link.relative('/static/js/app.js')"></script>

    <script type="text/javascript">
        var Portal = {
            base:"$link.relative('/')"
        };
        var ctx = "$link.relative('')";
    </script>
</head>
<body#if($env.renderMode == "design") class="edit_mod" #end>
    #parse('/include/header.vm')
    <div class="page_box" data-inst-id="$curPage.dbId">
    $screen_content
    </div>
    $renderTool.renderGlobalModule(99)
#if($env.renderMode == "design")
<form id="j-page-form" action="/cms/design/save-page.html" method="post">
    <input type="hidden" name="pageId" value="$!{curPage.dbId}" id="j-page-dbId">
    <input type="hidden" name="pageLayout" id="j-page-layout-holder">
    <input type="hidden" name="isHeaderChanged" value="false" id="j-header-changed-holder">
    <input type="hidden" name="isFooterChanged" value="false" id="j-footer-changed-holder">
</form>
#end
<div class="module_edit_mask hidden"><div class="module_mask_bd"></div><a class="mod_opt_btn j-remove-module icon-font" title="删除">&#xe602;</a><a class="mod_opt_btn j-edit-module icon-font" title="编辑">&#xe603;</a></div>
</body>
</html>
