#**
 * 模块编辑时
 *#
#macro(moduleFormCommonField)
<li class="shop-form-row">
    <label>标题</label>
    <input class="width320" type="text" name="title" value="$!{params.title}">
</li>
<li class="shop-form-row">
    <label>隐藏边框</label>
    <input class="width200" type="checkbox" name="naked"#{if}($moduleTool.isTrue($params.naked)) checked="checked" #{end} value="true">
</li>
#end