<div id="col_${columnInstance.dbId}_mod_${moduleInstance.dbId}"
     class="module_box" #designId($env $modulePrototype $moduleInstance)>
    #if($columnInstance.paramsMap.layout != 'tab')
        <div class="module_box_hd">$stringUtils.defaultIfEmpty($moduleParams.title, $modulePrototype.name)</div>
    #end
    <div class="module_box_bd" #dimension($moduleParams)>
        #if($commonTool.isNotEmpty($moduleParams.ajaxUrl))
            <iframe src="$moduleParams.ajaxUrl" width="100%" height="100%"></iframe>
        #end
    </div>
</div>