<div class="module_box portlet-footer naked" #dimension($moduleParams) #designId($env $modulePrototype $moduleInstance)>
    #if($columnInstance.paramsMap.layout != 'tab')
        <div class="module_box_hd">$stringUtils.defaultIfEmpty($moduleParams.title, $modulePrototype.name)</div>
    #end
    <div class="module_box_bd">页面尾部内容区</div>
</div>