<div class="module_box"#dimension($moduleParams) #designId($env $modulePrototype $moduleInstance)>
    <div class="module_box_hd">$stringUtils.defaultIfEmpty($moduleParams.title, $modulePrototype.name)</div>
    <div class="module_box_bd">${moduleParams.content}</div>
</div>